<html>
  <body>
    <h1>Receita recebida com sucesso!</h1>
    <hr>
    <h2>Dados da Receita:</h2>
    <p><b>Nome da Receita:</b> <%= nome %></p>
    <p><b>Ingredientes:</b> <%= ingredientes %></p>
    <p><b>Modo de Preparo:</b> <%= modoPreparo %></p>
    <p><b>Dificuldade:</b> <%= dificuldade %></p>
    <p><b>Autor:</b> <%= autor %></p>
    <p><b>Data:</b> <%= data %></p>
  </body>
</html>